.container {
    display: flex;
    float:left;
  }
  
  .sidebar {
    width: 200px; 
    background-color: #c0c0c0;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .navbar-item  {
    list-style: none;
    height: 70px; 
  }
  
  .navbar-item li a {
    display: inline-block; 
    text-decoration: none;
    text-align: center;
    font-size: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .navbar-item  li a:active{
    background-color: #111;
    color: #F8CF50;
  }
  
  
