.MulIntro{
height: 200px;
word-spacing: 2%;
font-size: x-large;
line-height: 40px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:rgb(16, 15, 15);
margin-top:0px;


}
.MulIntro ul{
    background-color: #F8CF50;
    margin-left:45%;
    list-style-type:circle;
}
.MulIntro p{
    margin-left:20px;
}
.MulIntro .content{
    margin-left:20px;
}
