.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
.centered-text {
  text-align:justify;
  width:1300px;
  height:3000px;
  background-color:#F8CF50;
  font-size: x-large;
}
.centered-text b{
    text-align:center;
}
.centered-text .main-content{
    margin-left:20px;
}
button{
    background-color: aqua;
    border-radius:25px;
    font-size: x-large;
}
span{
    text-decoration: underline;
    
    border-radius: 1px;
    
}
hr {
    border: none;
    height: 1px;
    background-color: #0c0c0c; /* Change this to the desired color */
    margin: 20px 0;
  }
  