.question_block{
    font-size: xx-large;
}
.input_class{
    font-size: x-large;
    color:green;
}
.input_button{
    font-size: 20px;
    margin-left:20px;
   
}
.verify_button{
    margin-left:20px;
    font-size:20px;
}
button:hover{
    background-color:rgb(214, 31, 190);
}
.try_span{
    text-decoration: none;
    margin-left:20px;
    font-size:xx-large;
}
.top-most-div{
    margin-left:200px;
}
.back{
    margin-left:40%;
    margin-top:20px;
}