.question_block{
    font-size: xx-large;
}
.input_class{
    font-size: x-large;
    color:green;
    margin-left:30px;   
    border-radius: 25px;
}
.input_button{
    font-size: 20px;
    margin-left:20px;
    padding: 5px;
    width:200px;
    margin-left:50px;
   
}
.verify_button{
    margin-left:50px;
    font-size:20px;
    width:200px;
    padding:5px;
}
button:hover{
    background-color:rgb(214, 31, 190);
}
.try_span{
    text-decoration: none;
    margin-left:20px;
    font-size:xx-large;
}
.top-most-div{
    margin-left:200px;
}
.back{
    margin-left:40%;
    margin-top:20px;
}