.c{
    margin-left:220px;
    height:900px;
    width:1200px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.topic{
    text-align: center;
}
.story-points{
    background-color:#F8CF50;
    text-align:center;
    list-style-type:armenian;
}