.Content-home{
    height: 200px;
    margin-left: 25px;
    word-spacing: 2%;
    font-size: x-large;
    font-weight:300;
    line-height: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

.home-li{
    margin-left:50px;
    list-style-type:circle;
    word-spacing: 5%;
    font-size: bolder;
}

.home-ul{
    background-color: #F8CF50;
    margin-top:40px;
    margin-left:20px;
}

.home-img{
    margin-top:5px;
    height: 225px;
    width: 225px;
    float: left;
}

.credits{
    background-color: #111;
    margin-top:20%;
    max-height: 120px;
}

.credit-p{
    display: inline;
    width:fit-content;
    font-size: 20px;
    height: fit-content;
    color:#F8CF50;
    padding-top: 20% ;
}

.credit-p1{
    display: inline;
    background-color: #F8CF50;
    color:#111;
    margin-left:85%;
    width:max-content;
    height:fit-content;
    border-radius: 60px;
}
